
body
{
    margin: 0;
}

a, fieldset, button
{
    all: unset;
}

fieldset
{
    all: unset;
}
/***/
html
{
    background: #D3D3D3
}

body
{
    max-width: 940;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.order-details
{
    display: inline-table;
}

.order-buttons
{
    display: inline-block;
}

.order-buttons button
{
    display: block;
}
/*@use postcss-nested;
@use postcss-media-minmax;

@media (width >= 800px)
{
    tbody
    {
        tr { display: table-cell }
        th { display: none }
        td { display: inline }

        text-align: center;
        display: table-row;
    }
}

@media (width <= 800px)
{
    thead { display: none }
    th { text-align: left }
}*/

body
{
    min-width: 320px;
}

table
{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
}

tbody:nth-child(even)
{
    outline: 1px dashed red;
}

input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white; 

    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

table.range-table{
      width: 400px;
}
